html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  font-family: Georgia sans-serif; }

a {
  color: #FF4649; }

.contact-form {
  width: 100%;
  height: 30px;
  background: #F1F1F1;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 960px 1fr;
  grid-template-columns: 1fr 960px 1fr; }
  .contact-form p {
    margin-top: 5px;
    color: #999999; }
    .contact-form p samp {
      float: right; }
      .contact-form p samp img {
        width: 15px;
        padding-right: -5; }

.logo-serch {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 960px 1fr;
  grid-template-columns: 1fr 960px 1fr;
  margin-top: 20px; }
  .logo-serch h1 {
    font-size: 32pt;
    color: #525252; }
    .logo-serch h1 span {
      color: #FF4649; }
  .logo-serch p {
    color: #525252;
    font-size: 12pt; }

.logo-div {
  width: auto;
  position: relative; }

.serch {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block; }
  .serch input[type="text"] {
    background: #C5C5C5;
    border: 0;
    height: 25px;
    width: 300px;
    border-radius: 10px;
    margin: 0; }
  .serch input[type="submit"] {
    margin: 0;
    height: 25px;
    border-radius: 10px;
    color: #FF4649;
    background: #F3F3F3; }

.menu {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 960px 1fr;
  grid-template-columns: 1fr 960px 1fr; }

.navbar {
  border: 1px solid #FF4649;
  background: #FF4649;
  border-radius: 5px; }
  .navbar ul {
    text-transform: uppercase;
    list-style: none; }
    .navbar ul li {
      display: inline-block;
      padding: 15px;
      border-left: 2px solid white; }
      .navbar ul li:hover {
        background: white;
        color: #FF4649; }
      .navbar ul li:first-child {
        border: 0; }
      .navbar ul li a {
        text-decoration: none;
        color: white; }
      .navbar ul li:hover a {
        color: #FF4649; }

.slides {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 960px 1fr;
  grid-template-columns: 1fr 960px 1fr; }

.slider {
  width: auto;
  border: 1px solid #DFDFDF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .8fr;
  grid-template-columns: 1fr .8fr; }

.slide-text {
  margin-left: 20px; }
  .slide-text h1 {
    margin-top: 50px;
    font-size: 40px;
    color: #535353; }
  .slide-text p {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 10px;
    color: #535353; }
  .slide-text button {
    position: relative;
    font-size: 20pt;
    border-radius: 10px;
    height: 75px;
    background-color: #000;
    color: white; }
    .slide-text button span {
      text-align: center;
      padding-left: 25px; }
    .slide-text button img {
      top: 15px;
      position: absolute;
      height: 40px; }

.slider-control {
  padding-top: 20px;
  text-align: center; }
  .slider-control ol {
    list-style: none; }
  .slider-control li {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #D8D8D8; }
    .slider-control li:nth-child(2) {
      background-color: #9F9F9F; }

.content {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 960px 1fr;
  grid-template-columns: 1fr 960px 1fr;
  margin-bottom: 75px; }

.conteiner-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; }

.col h3 {
  color: #FF4649;
  font-size: 16pt; }

.col hr {
  width: 300px;
  padding: 0;
  margin-left: 0;
  background-color: #DFDFDF;
  margin-bottom: 10px; }

.col .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75px 1fr;
  grid-template-columns: 75px 1fr;
  color: #535353; }

.col img {
  padding-top: 10px;
  padding-right: 5px; }

.col p {
  padding-top: 5px; }

.contact-information {
  width: 100%;
  padding-top: 45px;
  background-color: #F0F0F0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 960px 1fr;
  grid-template-columns: 1fr 960px 1fr; }

.cont-inform {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr; }

.col-footer h1 {
  font-size: 20pt;
  font-style: italic;
  color: #6D6D6D; }

.form-blog {
  padding-top: 20px;
  font-size: 13pt;
  color: #8B8792; }
  .form-blog h3 {
    color: #FF4649;
    padding-bottom: 10px; }
  .form-blog p {
    padding-right: 30px;
    padding-top: 10px; }

.details {
  color: #8B8792; }
  .details p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13pt; }

.about-us {
  font-size: 13pt;
  color: #8B8792; }
  .about-us p {
    margin-top: 10px; }
  .about-us a {
    margin-top: 25px;
    float: right; }

footer {
  background-color: #838383;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 960px 1fr;
  grid-template-columns: 1fr 960px 1fr; }

.footer {
  font-size: 13pt;
  padding-top: 20px;
  padding-bottom: 20px; }
  .footer li {
    list-style: none;
    float: left;
    color: white; }
    .footer li:nth-child(2) {
      float: right; }

@media screen and (max-width: 959px) {
  contact-form {
    padding-top: 0; }
  .container {
    width: 100%;
    background-position: center top;
    background-size: 100%;
    background-color: #F1F1F1;
    padding-right: 0;
    padding-left: 0;
    right: 0; } }
